* {
  box-sizing: border-box;/*ajusta al tamaño de la caja*/
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
/*comienzo de header*/
header {
  background-color: black;

}
#logos{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
#copa img{
  width: 100px;
}
#fifa img {
  width: 191px;
}
/*fin header*/
/*comienzo nav*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

.activo{
  /*border-bottom: #555 solid 3px;*/
  box-shadow: 5px 4px darkgray;

}
nav a:hover{
  background-color: rgba(255, 0, 0, 0.422);

}

/*fin nav*/
/*comienzo de main*/
section{
  width: 900px;
  height: 400px;
  background-color: #555;
  margin:0 auto ;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section div{
  width: 250px;
  background-color: yellow;
  height: 200px;
  margin: 1px;
}

#intro{
background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBjb2xvcmVzfGVufDB8fDB8fHww);
background-repeat:no-repeat;
background-size: cover;
box-shadow: 7PX 5PX gray;
border-radius: 15px;
}
#eeuu{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Flag_of_the_United_States_%28Pantone%29.svg/250px-Flag_of_the_United_States_%28Pantone%29.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#mx{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/250px-Flag_of_Mexico.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#can{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/250px-Flag_of_Canada_%28Pantone%29.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.estadosunidos h2{
  text-align: center;
}
table, tr, td,th{
  border: solid red 2px;
  border-collapse: collapse;
  width: 400px;
  margin: 0 auto;
  }
  tr :hover{
  background-color: #555;
  }
  td img{
  width: 200px;
  }
/*videos*/
#video{
  width: 600px;
  height: 300px;
}

/*fin de main*/
.presentacion{
  height: 600px;
}

.videos_locales{
  background-color: #aaaaaa71;
  width: 600px;
  height: 320px;
  border:#000 solid 7px;
  box-shadow: #555 5px 2px;
  text-align:center;
  margin: 0 auto;
  box-sizing: border-box;

}

/*comienazo del footer*/

footer{
  background-color: #000;
  color: white;
font-size: smaller;
display: flex;/*muestra el contenido ajustado*/
flex-wrap: wrap;
/*align-items: center;
justify-content: center;*/
justify-content: space-evenly;
}
#colegio{
width: 33%;
background-color: red;
padding: 5px;
}
footer a{
  color: #aaa;
}
#alumno{
  width: 33%;
  background-color: yellow;
  color: #555;
  padding: 5px;
}
#social{
width: 33%;
background-color: lightblue;
padding: 5px;
}

#social img{
 width: 50px;
}
/*fin del footer*/





main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
